# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# Compiled binary addons (https://nodejs.org/api/addons.html)
/frontend/build/Release
/backend/.node_modules
/backend/.env
/backend/.env*
/backend/.env.test
/frontend/.node_modules
/frontend/.env.local
/frontend/.env*
/frontend/.*
/backend/.*

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
/frontend/.next
/frontend/out
